
/* Commencer par une version téléphone */
/* Mettre un espace entre chque élément de la liste et liste none */

/* Page d'acceuil */
/* Alignement de Tours et de la liste*/
.alignement {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 250px;
}
/* Ma liste est en colonne */
.menu {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
/* Les éléments de ma liste ont un fond rose et sont espacés */
.elementmenu {
    background-color:#f76C6C;
    border-radius: 10px;
    padding: 1px 1px;
    margin: 5px;
}

/* Mon H1 a fond noir avec background arrondi */
#titrecampus {
    font-family: 'Valera Round', sans-serif;
    font-size: 32px;
    color:white;
    background-color: black;
    border-radius: 10px;
    padding: 10px;
}
/* Mon H2 (élément de la liste est écrit en blanc) */
h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    color:white;
}
/* Mon logo est en position flex et aligné au centre, décalé du haut de la page*/
.LogoWCS {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    width: 350px;
    height:175px ;
    margin-left: auto;
    margin-right: auto;
}

.Logo-wcs {
    width: 100%;
    height: 100%;
}
/* Mon body contient une image de fond, qui occupe toute la place*/
body {
    background-image: url(https://zupimages.net/up/20/11/lo72.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}


.main-1{
    
}
/* Les conditions de ma page lorsqu'elle sera sur grand écran: réduction des titres*/
@media only screen and (min-width: 700px) {

.align {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
#titrecampus {
    font-size: 35px;
}

h2 {
    font-size: 25px;
}
.menu {
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
}
.elementmenu {
    margin: 10px;
}

}
